.nav-ul li {
  list-style: none;
  color: var(--white);
}
.nav-ul {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  align-items: center;
  gap: 24px;
}
.nav-ul a {
  color: var(--white);
}
.form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: 400px;
  margin: 0 auto;
}
.message {
  font-size: 12px;
  margin-top: -12px;
  color: red;
}
.delete {
  cursor: pointer;
  width: 24px;
  height: 24px;
  transition: none;
  fill: rgba(0, 0, 0, 0.242);
}
.delete:hover {
  fill: red;
}
.table {
  width: 100%;
  table-layout: auto;
  border-collapse: collapse;
}
.table tr:first-child {
  background-color: rgba(0, 0, 0, 0.111);
}
.table tr {
  border-top: 1px solid rgba(0, 0, 0, 0.111);
}

.table td,
.table th {
  padding: 12px;
}
.table th {
  text-align: left;
  padding-bottom: 12px;
}
nav {
  display: flex;
  background-color: var(--black);
  align-items: center;
  padding: 16px 24px;
}
nav h2 {
  color: var(--white);
  white-space: nowrap;
}
.heading {
  margin-bottom: 16px;
}
.search-area {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.search-area div {
  position: relative;
}
.search-area div svg {
  position: absolute;
  left: 16px;
  top: 8px;
}
.search-area .input {
  padding-left: 42px;
}
.formData {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
